<div class="container my-4 contact">
 <div class="about-section text-capitalize text-center my-4">
  <h3 id="contact" class="about-style">contact Us</h3>
  <h5 class="sub-heading">grow your business with us</h5>
 </div>
 <div class="row">
  <div class="col-md-8 col-10 mx-auto">
   <div class="card shadow">
    <form action="/contact" method="POST" class="m-4">
     <div class="mb-3">
      <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
     </div>
     <div class="mb-3">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
       placeholder="Email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
     </div>
     <div class="mb-3">
      <input type="number" class="form-control" name="phone" placeholder="Mobile No.">
     </div>
     <div class="mb-3">
      <input type="text" class="form-control" name="message" placeholder="Message">
     </div>

     <button type="submit" class="btn-style btnmargin">Submit</button>
    </form>
   </div>
  </div>
 </div>
</div>