<div class="container">
 <div class="about-section text-capitalize text-center mb-4">
  <h3 id="service" class="about-style">our services</h3>
  <h5 class="sub-heading">grow your business with us</h5>
 </div>
 <div class="row mx-auto mt-4">
  {{!-- card --}}
  <div class="col-md-4 col-sm-6 col-10 mx-auto ">
   <div class="card mx-auto our-services my-3 mx-3 database">
    <div class="card-body">
     <i></i>
     <h4 class="card-title">Backup's</h4>
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
     </p>
    </div>
   </div>
  </div>
  {{!-- card --}}
  {{!-- card --}}
  <div class="col-md-4 col-sm-6 col-10 mx-auto">
   <div class="card mx-auto our-services my-3 mx-3 ssl">
    <div class="card-body">
     <i></i>
     <h4 class="card-title">SSl Secured</h4>
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
     </p>
    </div>
   </div>
  </div>
  {{!-- card --}}
  {{!-- card --}}
  <div class="col-md-4 col-sm-6 col-10 mx-auto">
   <div class="card mx-auto our-services my-3 mx-3 backups">
    <div class="card-body">
     <i></i>
     <h4 class="card-title">Database</h4>
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
     </p>
    </div>
   </div>
  </div>
  {{!-- card --}}
  {{!-- card --}}
  <div class="col-md-4 col-sm-6 col-10 mx-auto">
   <div class="card mx-auto our-services my-3 mx-3 privacy">
    <div class="card-body">
     <i></i>
     <h4 class="card-title">Privacy</h4>
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
     </p>
    </div>
   </div>
  </div>
  {{!-- card --}}
  {{!-- card --}}
  <div class="col-md-4 col-sm-6 col-10 mx-auto">
   <div class="card mx-auto our-services my-3 mx-3 settings">
    <div class="card-body">
     <i></i>
     <h4 class="card-title">Settings</h4>
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
     </p>
    </div>
   </div>
  </div>
  {{!-- card --}}
  {{!-- card --}}
  <div class="col-md-4 col-sm-6 col-10 mx-auto">
   <div class="card mx-auto our-services my-3 mx-3 speedup">
    <div class="card-body">
     <i></i>
     <h4 class="card-title">Speedup</h4>
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
     </p>
    </div>
   </div>
  </div>
  {{!-- card --}}
 </div>
</div>